* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-principal: #2e7d4e;
    --verde-claro: #56c271;
    --branco: #ffffff;
}

/*BODY*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4fff7;
    color: #222;
    line-height: 1.7;
}

/* menu de navegação */

nav {
    padding: 18px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}


nav a:hover {
    color: #95d5b2;
    transform: scale(1.12);
}

/* cabeçalho */

header {
    background: linear-gradient(
        135deg,
        var(--verde-principal),
        var(--verde-claro)
    );

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 5%;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 140px;
    display: block;
}

/* menu do header */

.menu {
    display: flex;
    gap: 18px;
    list-style: none;
}


.menu a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-size: 15px;
}

.menu a:hover {
    color: #d7ffe5;
}


.botao-header {
    background-color: var(--branco);
    color: var(--verde-principal);

    padding: 8px 14px;
    font-size: 14px;

    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.botao-header:hover {
    transform: scale(1.05);
}


/*MAIN*/

main {
    max-width: 1000px;
    margin: auto;
    padding: 50px 25px;
}

/*SECTIONS*/

section {
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/*TÍTULOS*/

section h2 {
    color: #2e7d4e;
    font-size: 34px;
    margin-bottom: 25px;
}

section h3 {
    color: #205a37;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 8px;
}

/*TEXTOS*/

section p {
    font-size: 18px;
    margin-bottom: 10px;
}

/*LINKS*/

section a {
    color: #2e7d4e;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

section a:hover {
    color: #205a37;
    text-decoration: underline;
}

/*MAPA*/

iframe {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/*FOOTER*/

footer {
    background-color: #205a37;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    font-size: 15px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .logo img {
        width: 140px;
    }

    .menu {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    .botao-header {
        padding: 10px 18px;
    }

}